body {
  font-family: Arial, sans-serif;
  margin: 3%;
}

#add-book-form {
  margin-bottom: 20px;
}

#add-book-form input[type="text"] {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 1%;
  border-radius: 3px;
  width: 20rem;
  border: 2px solid #ccc;
}

#add-book-form button {
  font-size: 16px;
  padding: 5px 15px;
  background-color: #7b2ea8;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.book-author {
  font-size: 16px;
  font-style: italic;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.remove-button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
}

p {
  font-weight: 600;
  font-size: 1.5rem;
}

#book-list {
  border: 2px solid #1f1e1e;
  width: 35%;
}

#book-list li:nth-child(even) {
  background-color: #ccc;
}
